on: [push]
name: Pushing_an_image_to_ACR

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main
          
        - name: 'Login via Azure CLI'
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
        
        - name: 'Docker Login'
          uses: azure/docker-login@v1
          with:
            login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
            username: ${{ secrets.REGISTRY_USERNAME }}
            password: ${{ secrets.REGISTRY_PASSWORD }}
        - name: 'Build & Push'
          uses: docker/build-push-action@v2
          with:
            push: true
            build-args: |
                version=${{ github.sha }}
            tags: ${{ secrets.REGISTRY_LOGIN_SERVER }}/devsquad.api:${{ github.sha }}
